body{
    background-color: whitesmoke !important;
}
.box{
    margin-top: 15px;
}
.box-body{

    background-color: white;
    padding: 15px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
}
